:root {
  /* violet from tailwind as r g b */
  --color-primary-50: 185 254 185; /* #f5f3ff */
  --color-primary-100: 165 254 165; /* ##A5FEA5 */
  --color-primary-200: 125 253 125; /* #7DFD7D */
  --color-primary-300: 85 253 85; /* #55FD55 */
  --color-primary-400: 44 252 44; /* #2CFC2C */
  --color-primary-500: 4 252 4; /* #04FC04 */
  --color-primary-600: 2 98 2; /* #02C602 */
  --color-primary-700: 2 142 2; /* #028E02 */
  --color-primary-800: 1 87 1; /* #015701 */
  --color-primary-900: 0 31 0; /* #001F00 */
  --color-primary-950: 0 4 0; /* #000400 */

  /* slate from tailwind as r g b */
  --color-muted-50: 248 250 252; /* #f8fafc */
  --color-muted-100: 241 245 249; /* #f1f5f9 */
  --color-muted-200: 226 232 240; /* #e2e8f0 */
  --color-muted-300: 203 213 225; /* #cbd5e1 */
  --color-muted-400: 148 163 184; /* #94a3b8 */
  --color-muted-500: 100 116 139; /* #64748b */
  --color-muted-600: 71 85 105; /* #475569 */
  --color-muted-700: 51 65 85; /* #334155 */
  --color-muted-800: 30 41 59; /* #1e293b */
  --color-muted-900: 15 23 42; /* #0f172a */
  --color-muted-950: 2 6 23; /* #020617 */
}
